<!DOCTYPE html>
<html lang="<%- config.language %>">
  <%- partial('_partial/head') %>
  <body>
    <% if (!is_post()) { %>
      <%- partial('_partial/header', null, {cache: true}) %>
    <% } %>

    <main class="main wrapper"><%- body %></main>


    <% if (!is_post()) { %>
      <%- partial('_partial/footer', null, {cache: true}) %>
    <% } %>

    <%- partial('_partial/script', null, {cache: true}) %>
  </body>
</html>
