<article class="article slide-in-right">
  <section>
    <h1 class="article-title">
      <%- trim(page.title.replace(/[<>&"]/g, function(c){
        return {'<':'&lt;','>':'&gt;','&':'&amp;','"':'&quot;'}[c];
      })) %>
    </h1>
    <p class="article-meta">
      <span class="meta-info">
        <span>
          <%= __('post.updateTime') %>&#58; <%- page.updated.format(config.date_format) +" "+ page.updated.format(config.time_format)%>
        </span>
        <span><%= __('post.wordCount') %>&#58; <%= wordcount(page.more) %></span>
        <span><%= __('post.readingTime') %>&#58; <%= min2read(page.more) %> min</span>
      </span>
      <a  class="meta-link" href="/">返回</a>
    </p>
  </section>
  <section><%- page.more %></section>
</article>

<section class="card article-toc">
  <%- toc(page.more, {list_number	: false }) %>
</section>

<section class="article slide-in-right">

  <div class="loader" id="loader">
    <svg viewBox="0 0 50 50">
      <circle class="ring" cx="25" cy="25" r="20"></circle>
      <circle class="ball" cx="25" cy="5" r="3.5"></circle>
    </svg>
  </div>

  <div class="comment" id="utteranc"></div>
  <noscript>为正常使用评论功能请激活 JavaScript</noscript>
</section>

<a class="card back-to-top" id="backTop">&UpArrow;</a>

