<ul class="tags list-unstyled">
    <% site.tags.map(function(tag){  %>
        <li class="tag-item"><a href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>" rel="<%= tag.length %>">#<%= tag.name %></a></li>
    <% }) %>
</ul>

<!-- 标签列表 -->
<ul class="list-unstyled animate-list">
  <% site.tags.map(function(tag){  %>
    <li class="card slide-in-right">
        <h2 class="tag-name" id="<%= tag.name %>"><%= tag.name %></h2>
        <% tag.posts.map(function(post){  %>
            <a class="tag-post-title" href="<%- config.root %><%- post.path %>">
                <p class="hover-underline-animation">
                    <%-_ (post.title || "Untitled").replace(/[<>&"]/g,function(c){
                        return {'<':'&lt;','>':'&gt;','&':'&amp;','"':'&quot;'}[c];
                    }) _%>
                </p>
            </a>
        <% }) %>
    </li>
  <% }) %>
</ul>
