<div class="avatar>">
  <img class="avatar-img" src="<%= config['root'] %><%= config['sidebar-avatar'] %>" />
</div>

<div class="username"><i><%= config.author %></i></div>

<p class="subtitle"><%= config.subtitle %></p>

<% if (config.github_username) { %>
	<a class="about-link" target="_blank" rel="noopener" href="https://github.com/<%= config.github_username %>">Github</a>
<% } %>
<% if (config.juejin_userid) { %>
	<a class="about-link" target="_blank" rel="noopener" href="https://juejin.im/user/<%= config.juejin_userid %>">掘金</a>
<% } %>
