<div class="avatar">
  <img class="avatar-img" src="<%= config['root'] %><%= config['avatar'] %>" />
</div>

<h2 class="username"><%= config.author %></h2>

<p class="subtitle"><%= config.subtitle %></p>

<p class="about-links">
	<% if (config.sns.github) { %>
		<a class="about-link" target="_blank" rel="noopener" href="https://github.com/<%= config.sns.github %>">Github</a>
	<% } %>
	<% if (config.sns.juejin) { %>
		<a class="about-link" target="_blank" rel="noopener" href="https://juejin.im/user/<%= config.sns.juejin %>">掘金</a>
	<% } %>
	<% if (config.sns.twitter) { %>
		<a class="about-link" target="_blank" rel="noopener" href="https://twitter.com/<%= config.sns.twitter %>">Twitter</a>
	<% } %>

</p>
