<header class="header" uk-sticky="top: 100; animation: uk-animation-slide-top; bottom: #sticky-on-scroll-up">
  <nav class="wrapper header-content">
    <div class="nav-overlay uk-navbar-left">
      <h1 class="title nav-list-item uk-logo" data-link="<%= url_for(config.root) %>">
        <% if(config.title) { %>
        <a href="<%= config.root %>" data-link="<%= config.root %>"><%= config.title %></a>
        <% } else { %>
        <a href="<%= config.root %>" data-link="<%= config.root %>"><%- __('title') %></a>
        <% } %>
      </h1>

      <ul class="nav-list">
        <% if(config.category_dir) { %>
        <li class="nav-list-item" data-link="<%= url_for(config.category_dir) %>/">
          <a class="nav-list-link" href="<%= url_for(config.category_dir) %>"><%- __('nav.categories') %></a>
        </li>
        <% } %>
        <% if(config.friends_dir) { %>
        <li class="nav-list-item" data-link="<%= url_for(config.friends_dir) %>/">
          <a class="nav-list-link" href="<%= url_for(config.friends_dir) %>"><%- __('nav.friends') %></a>
        </li>
        <% } %>
        <li class="nav-list-item" data-link="/about/">
          <a class="nav-list-link" href="<%= config.root %><%- 'about/' %>"><%- __('nav.about') %></a>
        </li>
        <% if(config.rss) { %>
        <li class="nav-list-item" data-link="/rss/">
          <a class="nav-list-link" href="<%= config.root %>atom.xml">RSS</a>
        </li>
        <% } %>
      </ul>
    </div>

    <% if (is_post()) { %>
      <div class="uk-navbar-right translate-x">
        <a class="uk-navbar-toggle" href="#modal-full" uk-search-icon uk-toggle></a>
      </div>
    <% } else { %>
      <div class="uk-navbar-right">
        <a class="uk-navbar-toggle" href="#modal-full" uk-search-icon uk-toggle></a>
      </div>
    <% } %>
  </nav>
</header>

<div id="modal-full" class="uk-modal-full uk-modal" uk-modal>
  <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
    <button class="uk-modal-close-full" type="button" uk-close></button>
    <form class="uk-search uk-search-large search-form" action="//google.com/search" method="get" accept-charset="UTF-8"
      target="_blank">
      <input class="uk-search-input search-form-input" type="search" name="q" placeholder="<%- __('search') %>"
        autofocus autocomplete="false">
      <input type="hidden" name="sitesearch" value="<%= config.url %>">
    </form>
  </div>
</div>
