<header class="header">
  <div class="wrapper">
    <h1 class="title">
      <% if(config.title) { %>
        <span class="title-brand"><%= config.title %></span>
      <% } else { %>
        <span class="title-brand"><%- __('title') %></span>
      <% } %>
      <input class="offscreen" type="checkbox" id="toggle" name="toggle" aria-label="toggle" /><label for="toggle" class="switch"></label>
    </h1>
  </div>
</header>

<nav class="navbar wrapper">
  <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="<%= url_for(config.root) %>" data-link="<%= url_for(config.root) %>"><%- __('nav.home') %></a>
      </li>
      <% if(config.project_dir) { %>
        <li class="nav-item">
          <a class="nav-link" href="<%= url_for(config.project_dir) %>" data-link="<%= url_for(config.project_dir) %>/"><%- __('nav.projects') %></a>
        </li>
      <% } %>
      <% if(config.category_dir) { %>
        <li class="nav-item">
          <a class="nav-link" href="<%= url_for(config.category_dir) %>" data-link="<%= url_for(config.category_dir) %>/"><%- __('nav.categories') %></a>
        </li>
      <% } %>
      <% if(config.tag_dir) { %>
        <li class="nav-item">
          <a class="nav-link" href="<%= url_for(config.tag_dir) %>" data-link="<%= url_for(config.tag_dir) %>/"><%- __('nav.tags') %></a>
        </li>
      <% } %>
      <li class="nav-item">
        <a class="nav-link" href="<%= url_for(config.archive_dir) %>" data-link="<%= url_for(config.archive_dir) %>/"><%- __('nav.archives') %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= config.root %><%- 'about/' %>" data-link="/about/"><%- __('nav.about') %></a>
      </li>
    </ul>
</nav>
