<section class="prev-next card slide-in-right">
	<% if (page.prev) { %>
		<a href="<%- config.root %><%- page.prev.path %>" class="link prev" title="<%= page.prev.title %>">
			<span class="hover-underline-animation">&larr; <%= page.prev.title %></span>
		</a>
	<% } else { %>
		<a class="link-disabled prev link">&larr; <%= __('post.notMore') %></a>
	<% } %>
	<% if (page.next){ %>
		<a href="<%- config.root %><%- page.next.path %>" class="link next" title="<%= page.next.title %>">
			<span class="hover-underline-animation"><%= page.next.title %> &rarr;</span>
		</a>
	<% } else { %>
		<a class="link-disabled link next"><%= __('post.notMore') %> &rarr;</a>
	<% } %>
</section>
